@charset "UTF-8";

/*
Em HTML e id = em CSS é #
Em HTML é class = em CSS é .
*/
 

body{
    background-color: #c9ebd2;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #43664B;
}

h1#principal {
text-align: center;
background-color: rgb(9, 104, 9);
color: white;
}

h2{
    color: #43664B;
}

.basico {
color: green;
}
.intermediario {
color: rgb(119, 128, 0);
}
.avançado{
color: rgb(128, 0, 0);
}